.profile-dropdown {
  position: absolute;
  top: 48px;
  right: 0;
  width: 350px;                 /* ⬅️ bigger width */
  padding: 0;
  background: #ffffff;
  border-radius: 22px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.2);
  z-index: 100000;
}

.dropdown-row {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 22px;
  background: transparent;
  border-radius: 14px; 
  border: none;
  width: 100%;
  font-size: 16px;              /* same text size */
  font-weight: 500;
  color: #1f2937;
  cursor: pointer;
  transition: background 0.25s ease;
}

.dropdown-row:hover {
  background: #f3f4f6;
}

.dropdown-row.active {
  background: #f5f6fa;
  border-radius: 70px;
  margin: 0 1px;
  margin-top: 8px;
   
}

.dropdown-row.logout {
  color: #e11d48;
  font-weight: 600;
}

.icon {
  font-size: 18px;
  width: 22px;
  display: flex;
  justify-content: center;
}

.dropdown-divider {
  height: 2px;
  background: #e5e7eb;
  margin: 10px 0;
}


.menu-wrapper {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 44px;              /* dots ke neeche */
  right: 0;
  width: 200px;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 18px 45px rgba(0,0,0,0.18);
  display: flex;
  flex-direction: column;
  z-index: 9999;
  overflow: hidden;
}

.menu-item {
  padding: 14px 18px;
  border: none;
  background: transparent;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.menu-item:hover {
  background: #ffe9ef;
}

.menu-item.logout {
  color: #d9534f;
  font-weight: 800;
}